#iprofile {
  width: 50px;
}

#tcontainer{
  max-width: 100%;
}


#tcontainer .top-logo {
  width: 250px;
}

#tcontainer .top-logo a:first-child {
  width: 250px;
  text-align: center;
}

#tcontainer .topbar-hover:hover {
  color: #fff;
}

.topbar-font-color {
  font-size: 13px !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

#tcontainer .search-box {
  position: relative;
}

#tcontainer .search-box button {
  position: absolute;
  right: 10px;
  border: transparent;
}

#tcontainer .search-box input:focus,
#tcontainer .search-box input {
  color: #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: transparent;
  font-size: 13px;
  width: 250px;
}

#tcontainer .search-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
}

.container-topbar {
  margin-left: 20px;
  margin-right: 20px;
}
