.card{
    
    margin-left: 400px;
}

.avatar{
    margin-top: 40px;
}

.btn1{
    width: 150px;
    background-color: rgb(88, 223, 128);
    font-weight: bold;
    height: 50px;
    margin-left: 30px;
}


.payment-table{
    margin-left: 150px;
  }